h2 {
    font-family: Fredericka the Great;
    text-align: center;
}
body{
    background-color: rgb(94, 165, 145);
}
ul{
    padding: 10px;
}
li{
    display:inline;
    padding: 0px 10px 0px 10px;
}
header{
    text-align: center;
    background:url("https://images.unsplash.com/photo-1498946550856-a8c16e64cb4c?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size:cover;
    padding: 30px 0px 30px 0px;
    background-position: 30px;
}
h1{
    font-size: 50px;
    color:rgb(33, 186, 186);



    
}
